chromium/
coc/
configstore/
gtk-2.0/
gtk-3.0/
libfm/
nitrogen/
pcmanfm/
procps/
QtProject.conf
uGet/*
yay/
yarn/
nvim/plugged/
nvim/autoload/
dwm/dwm
VirtualBox/
pulse/
glib-2.0/
obs-studio/
kdenlive-layoutsrc
kdenliverc
vlc/
